:root {
  --bg: #282828;
  --fg: #ebdbb2;
  --bg2: #504945;
  --fg2: #fbf1c7;
  --err: #cc241d;
  --ok: #98971a;
}

body {
  color: var(--fg);
  background: var(--bg);
  overflow-y: scroll;
}

.bean {
    display: inline-block;
    border-radius: 0.3rem;
    --hover-scale: 1.5;
    margin: 0.1rem;
}
.bean.ok {
    background: var(--ok);
}
.bean.err {
    background: var(--err);
}
.bean:hover {
    cursor: pointer;
    transform: scale(1.5);
}
pre {
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.3rem;
  background: var(--bg2);
  color: var(--fg2);
  overflow-x: auto;
  box-shadow: 0.1rem 0.1rem 0.1rem var(--fg);
}

h1 {
  font-size: 2rem;
  text-shadow: 0.1rem 0.1rem 0.1rem var(--bg);
  margin: 1rem;
  border-radius: 0.3rem;
}
h1.ok {
  background: var(--ok);
}
h1.err {
  background: var(--err);
}
.hidden {
    display: none;
}
