---
name: build and test
on:
  push:
  pull_request:
  schedule:
    - cron: '29 17 * * 2'  # every tuesday at 17:29

jobs:
  build_and_test:
    strategy:
      fail-fast: false
      matrix:
        action:
          - fmt
          - doc
          - check
          - clippy
          - build
          - build-release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v5
      - name: install rust
        run: curl --proto '=https' --tlsv1.3 -sSf https://sh.rustup.rs | sh -s -- -y --profile minimal
      - name: act
        run: .github/scripts/build_and_test.bash ${{ matrix.action }}
